In [2]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_excel('Activity 2.xlsx', 'Sheet1')              # Reading the excel file
data = pd.DataFrame(data)                                      # make a data frame from the table of values in the excel
data.head()

,Xi,Yi,Unnamed: 2,Xo,Yo,Zo,Unnamed: 6,(-XiXo),(-XiYo),(-XiZo),(-YiXo),(-YiYo),(-YiZo)
0,1884,1915,NaN,1,0,1,NaN,-1884,0,-1884,-1915,0,-1915
1,2079,1922,NaN,0,1,1,NaN,0,-2079,-2079,0,-1922,-1922
2,1517,1975,NaN,4,0,1,NaN,-6068,0,-1517,-7900,0,-1975
3,1107,2046,NaN,7,0,1,NaN,-7749,0,-1107,-14322,0,-2046
4,2244,1986,NaN,0,3,1,NaN,0,-6732,-2244,0,-5958,-1986

In [7]:
def Qp(data):
    q = np.empty((0,11), int)
    p = np.empty((0,1), int)

    for i in range (0, len(data['Xi'])):
        x_i = data.loc[i, 'Xi']
        y_i = data.loc[i, 'Yi ']
        x_o = data.loc[i, 'Xo']
        y_o = data.loc[i, 'Yo']
        z_o = data.loc[i, 'Zo']
        
        xi_xo = -(x_i*x_o)
        xi_yo = -(x_i*y_o)
        xi_zo = -(x_i*z_o)
        
        yi_xo = -(y_i*x_o)
        yi_yo = -(y_i*y_o)
        yi_zo = -(y_i*z_o)
        
        q = np.append(q, [[x_o, y_o, z_o, 1, 0, 0, 0, 0, xi_xo, xi_yo, xi_zo]], axis = 0)
        q = np.append(q, [[0, 0, 0, 0, x_o, y_o, z_o, 1, yi_xo, yi_yo,yi_zo]], axis = 0)
        
        p = np.append(p, [[x_i]], axis = 0)
        p = np.append(p, [[y_i]],axis = 0)
    return q,p

In [35]:
Q = Qp(data)[0]
Qt = np.transpose(Q)
Q_prod = np.matmul(Qt,Q)
QQt_inv = np.linalg.inv(Q_prod)
P= Qp(data)[1]

q1 = np.matmul(QQt_inv,Qt)
A = np.matmul(q1,P)

QQt_inv

array([[ 9.94832418e-02,  1.97589853e-01, -2.21221751e-02,
        -2.31766908e-02,  1.16544317e-01,  1.36889570e-01,
        -5.60529184e-02,  1.24950930e-01,  6.85296017e-05,
         8.16706223e-05, -9.72971334e-06],
       [ 1.97589853e-01,  6.54474913e-01, -3.36189117e-02,
        -3.27942818e-02,  2.56877570e-01,  4.26529768e-01,
        -1.44847734e-01,  3.85637023e-01,  1.45958114e-04,
         2.68293580e-04, -1.23543121e-05],
       [-2.21221751e-02, -3.36189117e-02,  3.29510783e-02,
        -2.34314642e-03, -1.51978150e-02, -2.67326796e-02,
         1.58773611e-02,  1.88869644e-02, -8.90569073e-06,
        -1.69963979e-05,  1.59848414e-05],
       [-2.31766908e-02, -3.27942818e-02, -2.34314642e-03,
         3.43194488e-01,  4.30889634e-02,  2.66576387e-02,
        -1.22509293e-02,  5.17953263e-02,  2.61075889e-05,
         1.32125911e-05,  4.21085571e-06],
       [ 1.16544317e-01,  2.56877570e-01, -1.51978150e-02,
         4.30889634e-02,  1.81341634e-01,  2.05358751e-01,
        -7.79669837e-02,  1.46187425e-01,  9.79582356e-05,
         1.12989257e-04, -6.46982971e-06],
       [ 1.36889570e-01,  4.26529768e-01, -2.67326796e-02,
         2.66576387e-02,  2.05358751e-01,  3.22536409e-01,
        -1.08673048e-01,  1.99738068e-01,  1.09065074e-04,
         1.84162308e-04, -1.21368077e-05],
       [-5.60529184e-02, -1.44847734e-01,  1.58773611e-02,
        -1.22509293e-02, -7.79669837e-02, -1.08673048e-01,
         4.48537008e-02, -9.61808870e-02, -4.38851552e-05,
        -6.40850042e-05,  7.93329426e-06],
       [ 1.24950930e-01,  3.85637023e-01,  1.88869644e-02,
         5.17953263e-02,  1.46187425e-01,  1.99738068e-01,
        -9.61808870e-02,  6.39964907e-01,  1.13187752e-04,
         1.60712017e-04,  1.37482858e-05],
       [ 6.85296017e-05,  1.45958114e-04, -8.90569073e-06,
         2.61075889e-05,  9.79582356e-05,  1.09065074e-04,
        -4.38851552e-05,  1.13187752e-04,  5.77415120e-08,
         6.43864572e-08, -3.80947846e-09],
       [ 8.16706223e-05,  2.68293580e-04, -1.69963979e-05,
         1.32125911e-05,  1.12989257e-04,  1.84162308e-04,
        -6.40850042e-05,  1.60712017e-04,  6.43864572e-08,
         1.15579368e-07, -7.78005893e-09],
       [-9.72971334e-06, -1.23543121e-05,  1.59848414e-05,
         4.21085571e-06, -6.46982971e-06, -1.21368077e-05,
         7.93329426e-06,  1.37482858e-05, -3.80947846e-09,
        -7.78005893e-09,  9.02647045e-09]])

Prediction of image coordinates

In [28]:
x_o = int(input("Enter x_o: "))
y_o = int(input("Enter y_o: "))
z_o = int(input("Enter z_o: "))


xi_pred = (A[0]*x_o + A[1]*y_o + A[2]*z_o + A[3]) / (A[8]*x_o + A[9]*y_o + A[10]*z_o + 1)
yi_pred = (A[4]*x_o + A[5]*y_o + A[6]*z_o + A[7]) / (A[8]*x_o + A[9]*y_o + A[10]*z_o + 1)

Enter x_o: 0
Enter y_o: 6
Enter z_o: 4

In [29]:
xi_pred, yi_pred

(array([2529.39612786]), array([1605.62949514]))