In [4]:
import pandas as pd
import numpy as np
from scipy import signal

In [5]:
file = pd.read_csv('CIE standard observer-1964.csv')
file = pd.DataFrame(file)
file.head()

  l.nm  x10bar(l)  y10bar(l)  z10bar(l)
0  380   0.000160   0.000017   0.000705
1  385   0.000662   0.000072   0.002928
2  390   0.002362   0.000253   0.010482
3  395   0.007242   0.000769   0.032344
4  400   0.019110   0.002004   0.086011